<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

     /*body {
          margin-top: 50px;
          margin-bottom: 50px;
          background: none;
      }
      .full {
          background: url(https://dl.dropboxusercontent.com/u/159328383/background.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }*/
 .jumbotron {
     opacity: 0.7;
 }
.list-group-item {
    opacity: 0.7;
}
.p{
    margin-top: 5%;
}
/* button{
     float: right;
 }*/
p{
    margin-top:5%;
    background-color: lightgrey;

}

a:link {
    color: green;
}
/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
progress {
    width: 900px;
    height: 40px;
    margin: 50px auto;
    display: block;
    /* Important Thing*/
    -webkit-appearance: none;
    border: none;
}

progress::-webkit-progress-bar {
    background: grey;
    border-radius: 50px;
    padding: 2px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

/* Now the value part*/
progress::-webkit-progress-value {
    border-radius: 50px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
    background:
           /* -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
            -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),*/
            -webkit-linear-gradient(left, lightskyblue,lightskyblue);

    /* Looks great, now animating it*/
    background-size: 25px 14px, 100% 100%, 100% 100%;
    -webkit-animation: move 5s linear 0 infinite;
}

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties*/

@-webkit-keyframes move {
    0% {background-position: 0px 0px, 0 0, 0 0}
    100% {background-position: -100px 0px, 0 0, 0 0}
}

/*progress {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;
}
*/




@media only screen and (max-width:768px) {

    .jumbotron {
        opacity: 0.7;
    }

    .list-group-item {
        opacity: 0.7;
    }

    .p {
        margin-top: 5%;
    }

    /* button{
         float: right;
     }*/
    p {
        margin-top: 5%;
        background-color: lightgrey;

    }


    a:link {
        color: green;
    }


    /* visited link */
    a:visited {
        color: green;
    }

    /* mouse over link */
    a:hover {
        color: hotpink;
    }

    /* selected link */
    a:active {
        color: blue;
    }

    /*progress {
        width: 900px;
        height: 40px;
        margin: 50px auto;
        display: block;
        /* Important Thing
        -webkit-appearance: none;
        border: none;
    }

    progress::-webkit-progress-bar {
        background: black;
        border-radius: 50px;
        padding: 2px;
        box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
    }

    /* Now the value part
    progress::-webkit-progress-value {
        border-radius: 50px;
        box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
        background:
                -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
                -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
                -webkit-linear-gradient(left, #ba7448, #c4672d);

        /* Looks great, now animating it
        background-size: 25px 14px, 100% 100%, 100% 100%;
        -webkit-animation: move 5s linear 0 infinite;
    }

    /* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties

    @-webkit-keyframes move {
        0% {background-position: 0px 0px, 0 0, 0 0}
        100% {background-position: -100px 0px, 0 0, 0 0}
    }
    */
    progress {
        background-color: #f3f3f3;
        border: 0;
        height: 18px;
        border-radius: 9px;
    }

}


@media only screen and (max-width:550px) {
    .jumbotron {
        opacity: 0.7;
    }

    .list-group-item {
        opacity: 0.7;
    }

    .p {
        margin-top: 5%;
    }

    /* button{
         float: right;
     }*/
    p {
        margin-top: 5%;
        background-color: lightgrey;

    }


    a:link {
        color: green;
    }


    /* visited link */
    a:visited {
        color: green;
    }

    /* mouse over link */
    a:hover {
        color: hotpink;
    }

    /* selected link */
    a:active {
        color: blue;
    }

    /*progress {
        width: 900px;
        height: 40px;
        margin: 50px auto;
        display: block;
        /* Important Thing
        -webkit-appearance: none;
        border: none;
    }

    progress::-webkit-progress-bar {
        background: black;
        border-radius: 50px;
        padding: 2px;
        box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
    }

    /* Now the value part
    progress::-webkit-progress-value {
        border-radius: 50px;
        box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
        background:
                -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
                -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
                -webkit-linear-gradient(left, #ba7448, #c4672d);

        /* Looks great, now animating it
        background-size: 25px 14px, 100% 100%, 100% 100%;
        -webkit-animation: move 5s linear 0 infinite;
    }

    /* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties

    @-webkit-keyframes move {
        0% {background-position: 0px 0px, 0 0, 0 0}
        100% {background-position: -100px 0px, 0 0, 0 0}
    }
    */
    progress {
        background-color: #f3f3f3;
        border: 0;
        height: 15px;
        border-radius: 6px;
    }


}



@media only screen and (max-width:500px) {

    .jumbotron {
        opacity: 0.7;
    }

    .list-group-item {
        opacity: 0.7;
    }

    .p {
        margin-top: 5%;
    }

    /* button{
         float: right;
     }*/
    p {
        margin-top: 5%;
        background-color: lightgrey;

    }


    a:link {
        color: green;
    }

    /* visited link */
    a:visited {
        color: green;
    }

    /* mouse over link */
    a:hover {
        color: hotpink;
    }

    /* selected link */
    a:active {
        color: blue;
    }

    /*progress {
        width: 900px;
        height: 40px;
        margin: 50px auto;
        display: block;
        /* Important Thing
        -webkit-appearance: none;
        border: none;
    }

    progress::-webkit-progress-bar {
        background: black;
        border-radius: 50px;
        padding: 2px;
        box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
    }

    /* Now the value part
    progress::-webkit-progress-value {
        border-radius: 50px;
        box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
        background:
                -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
                -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
                -webkit-linear-gradient(left, #ba7448, #c4672d);

        /* Looks great, now animating it
        background-size: 25px 14px, 100% 100%, 100% 100%;
        -webkit-animation: move 5s linear 0 infinite;
    }

    /* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties

    @-webkit-keyframes move {
        0% {background-position: 0px 0px, 0 0, 0 0}
        100% {background-position: -100px 0px, 0 0, 0 0}
    }
    */
    progress {
        background-color: #f3f3f3;
        border: 0;
        height: 10px;
        border-radius: 4px;
    }

}